<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
  <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">

  <!-- <link rel="stylesheet" type="text/css" href="../public/css/style.css"> -->
</head>
<style>
  body {
    height: 2500px;
    position: relative;
  }
  .clearfix::before,
  .clearfix::after {
    content: "";
    height: 0px;
    clear: both;
    display: block;
    visibility: hidden;
  }
  .index_question {
    margin-left: -40px;
  }
  .index_question li {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    margin: 0;
    list-style: none;
  }
  .index_rank {
    float: left;
    margin-right: 5px;
    font-size: 16px;
    text-align: center;
    line-height: 1.2;
    color: #666;
  }
  .index_votes,
  .index_answer,
  .index_brows {
    display: inline-block;
    padding-top: 3px;
    width: 45px;
    height: 40px;
    float: left;
    margin: 10px;
    font-size: 14px;
  }
  .smail {
    display: block;
    font-size: 12px;
  }
  .index_answer {
    background: #E65100;
    color: #fff;
  }
  .index_summery {
    overflow: auto;
    overflow-x: hidden;
  }
  .index_summery_author {
    /*margin-bottom: 10px;*/
    margin-left: -5px;
    margin-bottom: 10px;
  }
  .index_summery_author a {
    font-size: 13px;
    color: #ff6d00;
  }
  span {
    width: 10px;
  }
  .index_summary_contain {
    vertical-align: bottom;
    line-height: 30px;
    width: auto;
    height: 24px;
    overflow: hidden;
    display: inline-block;
  }
  .index_summary_contain a {
    color: #666;
    font-weight: bold;
    font-size: 15px;
  }
  .index_summary_tag {
    list-style: none;
    padding-left: 2px;
    font-size: 0;
    display: inline-block;
  }
  .index_tag {
    padding: 0 6px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    display: inline-block;
    color: #ff6d00;
    background-color: #ffe0b2;
    line-height: 24px;
    font-weight: normal;
    text-align: center;
  }
  .index_widget {
    margin: 0 0 25px 0;
    padding-top: 25px;
    border-top: 2px solid #eee;
  }
  .index_widget_title {
    /*color: #ff6d00;*/
    margin: 0 0 10px;
    font-size: 16px;
  }
  .index_span {
    width: 260px!important;
    text-align: center;
    color: #333;
    font-size: 15px;
    display: block;
  }
  .index_user {
    padding-left: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
    height: 334px;
  }
  .index_user li {
    color: #999;
    margin-bottom: 6px;
  }
  .index_user li .index_touxiang {
    display: inline;
  }
  .index_touxiang img {
    border-radius: 50%;
    margin-right: 10px;
    width: 24px!important;
    height: 24px!important;
  }
  .index_user li a {
    width: auto;
    margin-left: 20px;
    max-width: 50%;
    display: inline-block;
    vertical-align: middle;
    color: #ff6d00;
  }
  .index_user li span {
    float: right !important;
    color: #ff6d00;
    font-size: 12px;
    line-height: 22px;
    height: 22px;
    width: 22px;
  }
  .index_image {
    margin-left: 10px;
    height: 334px;
    width: 250px;
    overflow: hidden;
    position: relative;
  }
  .index_image img {
    display: block;
    height: 334px;
    width: 500px;
    position: absolute;
    left: 0;
    top: 0;
  }
  .index_css li a {
    color: #ff6d00;
    font-size: 18px;
  }
  #index_col {
    color: #999;
  }
  .index_contain {
    position: relative;
    height: 900px;
  }
  .index_all {
    margin-top: 20px;
  }
</style>

<body>
  <% include homepage-header.ejs %>
    <div class="container">
      <div class="index_all">
        <div class="row">
          <div class="col-xs-12 col-md-9 ">
            <ul class="nav nav-tabs clearfix index_css">
              <li role="presentation" class="<%= active0 %> allanswer"><a href="/">最新回答</a></li>
              <li role="presentation" class="<%= active1 %> allanswer"><a href="/index_hot">热门回答</a></li>
              <li role="presentation" class="<%= active2 %> allanswer"><a href="/index_wait">等待回答</a></li>
              <li role="presentation" class="<%= active3 %> allanswer"><a href="#">最新动态</a></li>
            </ul>

            <div class="index_contain">
              <ul class="index_question clearfix">

                <% data_que.forEach(function(data){ %>
                  <li>
                    <div class="index_rank">
                      <div class="index_votes">
                        <div class="index_votesnum">
                          <%= data.votes %>
                        </div>
                        <smail>得票</smail>
                      </div>
                      <div class="index_answer">
                        <div class="index_answernum">
                          <%= data.answers %>
                        </div>
                        <smail>回答</smail>
                      </div>
                      <div class="index_brows">
                        <div class="index_browsnum">
                          <%= data.scans %>
                        </div>
                        <smail>浏览</smail>
                      </div>
                    </div>
                    <div class="index_summary">
                      <div class="index_summary_author">
                        <a id="index_col" href="/users?user=<%= data.puber %>&info=info">
                          <%= data.puber %>
                        </a>
                        <span></span>
                        <a id="index_col" herf="#">
                          <%= data.ltime %>
                        </a>
                      </div>
                      <div>
                        <div class="index_summary_contain">
                          <a href="/answers/<%= data._id %>">
                            <%= data.title %>
                          </a>
                        </div>
                        <% data.tags.forEach(function(data){ %>
                          <div class="index_summary_tag">
                            <a class="index_tag" href="/tags/<%= data %>">
                              <%= data %>
                            </a>
                          </div>
                          <% }); %>
                      </div>
                    </div>
                  </li>
                  <% }); %>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <div class="index_widget">
              <div class="index_widget_title">
                <span class="index_span">排行榜</span>
                <!-- 排行榜 <span class="index_span">
           <a id="index_col" class="active" href="#">今天</a>
          . <a id="index_col" href="#">本周</a>.
           <a id="index_col" href="#">更多</a>
         </span> -->

              </div>
              <ol class="index_user">

                <% data_use.forEach(function(data){ %>
                  <li>
                    <div class="index_touxiang"><img src="/images/user-256.png" alt=""></div>
                    <a href="#">
                      <%= data.nick %>
                    </a>
                    <span><add>+</add><%= data.likes %></span>
                  </li>
                  <% }); %>
              </ol>
            </div>
            <div class="index_image clearfix"><img id="lunbo" src="/images/index_lunbo.jpg" alt=""></div>

          </div>
        </div>


      </div>
      <div class="btn-group" role="group" aria-label="...">
        <a href='/<%= page %>99' type="button" class="btn btn-default">上一页</a>

        <a href='/<%= page %>0' type="button" class="btn btn-default page-click">1</a>
        <a href='/<%= page %>1' type="button" class="btn btn-default page-click">2</a>
        <a href='/<%= page %>2' type="button" class="btn btn-default page-click">3</a>
        <a href='/<%= page %>3' type="button" class="btn btn-default page-click">4</a>
        <a href='/<%= page %>4' type="button" class="btn btn-default page-click">5</a>
        <a href='/<%= page %>5' type="button" class="btn btn-default page-click">6</a>
        <a href='/<%= page %>6' type="button" class="btn btn-default page-click">7</a>
        <a href='/<%= page %>7' type="button" class="btn btn-default page-click">8</a>
        <a href='/<%= page %>8' type="button" class="btn btn-default page-click">9</a>
        <a href='/<%= page %>9' type="button" class="btn btn-default page-click">10</a>

        <!-- <a href="/0" type="button" class="btn btn-default">刷新</a> -->
        <a href="/<%= page %>98" type="button" class="btn btn-default">下一页</a>
      </div>
    </div>
    <% include homepage-footer.ejs %>

      <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
      <script type="text/javascript">
        // var img = document.getElementById("lunbo");
        // setInterval(function dong() {
        //   if (img.style.left == "0px") {
        //     img.style.left = '-257px';
        //     console.log(img.style.left);
        //   } else {
        //     img.style.left = '0px';
        //     console.log(img.style.left);
        //   }
        // }, 1000);
        // var allanswer = document.getElementsByClassName('allanswer');
        // for(var i = 0; i < 4; i ++){
        //   (function(i){
        //     $(allanswer[i]).find("a").click(function(){
        //
        //    console.log(allanswer);
        //   $(allanswer[i]).addClass("active");
        //   $(allanswer[i]).siblings().removeClass("active");
        // })
        //   })(i)
        //
        // }
      </script>

</body>


</html>
